
        <style>
            .zoom-container {
                position: relative;
                display: inline-block;
                overflow: hidden;
            }
    
            .zoom-container img {
                transition: transform 0.25s ease;
                width: 100%;
                height: 100%;
            }
    
            .zoom-lens {
                position: absolute;
                border: 2px solid black;
                cursor: pointer;
                opacity: 0.4;
                background-color: rgba(255, 255, 255, 0.5);
                display: none;  /* Initially hidden */
            }
            
            .quantity1{
                display: flex;
                align-content: center;
                justify-content: center;
                margin: 10px;
            }
            .product_qty{
                height: 25px;
                width: 70px;
                margin:0 2px;
                text-align: center;
            }
            .qty-btn{
                width: 25px;
                height: 25px;
                color: aliceblue;
                background-color: black;
                text-align: center;
                border-radius: 4px;
            }
        </style>
        <script src="user/js/image_zoom.js" defer></script>

</head>

<body>
    <%-include('partials/header')%>

    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/homepage">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-3" >
                        <ul class="nav nav-tabs" role="tablist">
                        <% let len = product.images.length %>
                        <% for(let i=0 ; i< len;i++) { %>

                            <li class="nav-item">
                                <div class="nav-link active" data-toggle="tab" onclick="show_tab('tabs-<%=i+1%>','<%=len%>')" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="assets/uploads/<%=product.images[i]%>">
                                    </div>
                                </div>
                            </li>

                        <%}%>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <% for(let i=0 ; i<(product.images.length);i++) { %>
                                
                            <div class="tab-pane product_image_show " id="tabs-<%=i+1%>" role="tabpanel">
                                <div class="product__details__pic__item zoom-container " id="zoom-container">
                                    <img src="assets/uploads/<%=product.images[i]%>" id="zoom-image" alt="Sample Image">
                                </div>
                            </div>

                            <%}%>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4><%=product.product_name%> </h4>
                            <div class="rating-container d-flex justify-content-center">
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <% if (i <= Math.floor(product.rating)) { %>
                                    <span class="rating-star filled" data-value="<%= i %>">&#9733;</span>
                                    <% } else { %>
                                    <span class="rating-star" data-value="<%= i %>">&#9734;</span>
                                    <% } %>
                                <% } %>
                            </div>
                            
                            <%if(product.quantity<=0){%>
                                <h5 class="" style="color:brown;"><b>Out of Stock : Please For the Stock</b></h5><br>
                            <%}else{%>
                                <h5 class="" style="color:green;"><b>In Stock : <%=product.quantity%> </b></h5><br>
                            <%}%>
                            <div>
                                <h3  style="display: inline;">₹<%= product.offer_price %></h3>
                                <h6 style="display: inline; padding-left: 5px; color: red;"><del> ₹<%=product.price%>/</del></h6>
                            </div>
                            <h5>specs of product </h5>
                            <span>-------------------------</span>
                            <div>
                                <p>
                                    <span>BRAND : <%=product.brand%></span><br>
                                    <span>COLOR : <%=product.color%></span><br>
                                    <span>SIZE : <%=product.size%></span><br>
                                    <span>METIREAL : <%=product.material %></span><br>
                                </p>  
                            </div>

                            <p><%=product.description%></p>

                            <%if(!product.quantity<=0){%>
                            <div class="product__details__cart__option">
                                <!-- <div class="quantity" >
                                    <div class="pro-qty" >
                                        <input id="cart_qty" type="text" value="1">
                                    </div>
                                </div> -->

                                <div class="quantity1">
                                    <div class="qty-btn" onclick="change_quantity(-1)">-</div>
                                    <input type="text" class="product_qty" value="1" readonly>
                                    <div class="qty-btn" onclick="change_quantity(1)">+</div>
                                </div>

                                <a href="#" class="primary-btn" style="border-radius: 12px;" onclick="add_to_cart(event,'<%= product._id %>','<%= product.quantity %>')" data-id="<%=product._id%>">add to cart</a>
                            </div>
                            <%}%>
                            
                            <div class="product__details__btns__option">

                                <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                            </div>
                            <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="user/img/shop-details/details-payment.png" alt="">
                                <ul>
                                    <li><span>Product ID:</span>  <%=product._id %></li>
                                    <li><span>Categories:</span>  <%=product.category %></li>
                                    <!-- <li><span>Tag:</span> Clothes, Skin, Body</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="related-title">Related Product</h3>
                </div>
            </div>
            <div class="row">
                <% products.forEach((x)=>{ %>
                    <div  class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                        <div class="product__item">

                             <div class="product__item__pic set-bg" onclick="location.href='/product_details?id=<%=x._id%>'" data-setbg="assets/uploads/<%=x.images[0]%>">
                                <ul class="product__hover">
                                    <li><div onclick="add_to_wishlist(event,'<%=x._id%>')">
                                        <svg  width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="#444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                    </div></li>
                                </ul>
                            </div>

                            <div class="product__item__text">
                                <h6><%=x.product_name%></h6> 
                                <a href="#" class="add-cart" onclick="add_to_cart(event,'<%=x._id%>',qty=1)" data-id="<%=x._id%>">+ Add To Cart</a>
                                <div class="rating-container">
                                    <% for (let i = 1; i <= 5; i++) { %>
                                        <% if (i <= Math.floor(x.rating)) { %>
                                        <span class="rating-star filled" data-value="<%= i %>">&#9733;</span>
                                        <% } else { %>
                                        <span class="rating-star" data-value="<%= i %>">&#9734;</span>
                                        <% } %>
                                    <% } %>
                                </div>

                                <div style="display: flex; ">
                                    <h5>₹<%=x.offer_price%></h5>
                                    <h6 style="padding-left: 5px; color: red;"><del> ₹<%=x.price%>/</del></h6>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <% }) %>
                                
            </div>
        </div>
    </section>
    <!-- Related Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    

    <script src="user/js/add_to_wishlist.js"></script>

    <script>
        show_tab('tabs-1')
        function show_tab(id,len) {
            
            for (let i = 1; i <= len; i++) {
                document.getElementById(`tabs-${i}`).classList.remove('active')
            }
            document.getElementById(id).classList.add('active')
        }

        function change_quantity(change) {
            const quantityInput = document.querySelector('.product_qty')
            let quantity = parseInt(quantityInput.value);

            quantity += change;

            if (quantity < 1) {
                quantity = 1;
            }else if(quantity > 10){
                quantity = 10;
            }

            // Update the input value
            quantityInput.value = quantity;

            // Update the total price
        }

        function add_to_cart (event,id,stock) {
            event.preventDefault();
            let qty = document.querySelector('.product_qty').value.trim()

            let stock_check = Number(qty)<= stock
            const product_id = id

            if (stock_check) {
                fetch('/add_to_cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ product_id: product_id ,quantity:Number(qty)})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Added to Cart',
                            text: 'Your product has been added to the cart!',
                        });
                    } else {
                        window.location.href = data.redirect_url;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Something went wrong. Please try again.',
                    });
                });
            }else{
                Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'this Product is Out off Stock. Please wait Again.',
                    });
            }
            
        };


    </script> 

